main {
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    overflow-y: scroll;
    max-height: 100vh;
}

.mask {
    background: rgba(251, 251, 251, 0.15);
}

.card-text,
.card-title,
.list-group-item {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.book__wrapper {
    position: absolute;
    background: blueviolet;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 320px;
    height: 105vh;
    padding: 10px;
    overflow-y: scroll;
    top: 0;
    right: 0 ;
}

.book-mark {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.book-mark .card {
    width: 250px;    
}

.none {
    display: none;
}

.clear {
    margin-bottom: 0;
    font-size: 20px;
    z-index: 99;
    background: #ca3131;
    width: 100px;
    text-align: center;
    color: #fff;
}